<h1 class="title-info">Meus Eventos</h1>
<hr>
<div class="tabela">
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Evento</th>
            <th scope="col">Local do Evento</th>
            <th scope="col">Descrição do Evento</th>
            <th scope="col">Itens</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            {{#each events}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.city}}</td>
            <td>{{this.description}}</td>
            <td>{{this.items}}</td>

            <td>
              <form action="/events/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-danger">Excluir<i class="fas fa-edit"></i></button>
              </form>          
            </td>
          </tr>
          <tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>